
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">Charts</a>
  <button class="navbar-toggler d-lg-none" type="button"
    data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" (click)="toggleSideBar()" href="#">Toggle Sidebar
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div [class]="{'col-lg-3': sideBarBig, 'col-lg-1' : !sideBarBig}">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
        praesentium
        nam unde doloremque, consectetur ad voluptatem soluta sint minus
        architecto ipsam ab recusandae assumenda reiciendis placeat? Accusantium
        odio culpa aliquam.</p>
    </div>
    <div [class]="{'col-lg-9': sideBarBig, 'col-lg-11' : !sideBarBig}">
      <div class="row">
        <div class="col-md-6">
          <app-pie-chart #pieChart1></app-pie-chart>
        </div>
        <div class="col-md-6">
          <app-pie-chart #pieChart2></app-pie-chart>
        </div>
        <div class="col-md-12">
          <app-zing-map></app-zing-map>
        </div>
        <div class="col-md-12">
          <app-location-chart></app-location-chart>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id distinctio
        quas tenetur hic sit possimus nihil facere, ipsum, voluptates, expedita
        suscipit numquam! Iste incidunt dolorem soluta at magni natus sint!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
        tempora et. Beatae voluptatum pariatur debitis obcaecati aperiam
        quibusdam laboriosam laudantium fugit exercitationem rerum, ipsum minima
        nulla cum labore deserunt nihil!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est doloremque
        illum ipsum dolorum velit pariatur eligendi ea architecto officia unde
        eaque perferendis maxime, ab provident repellat eum labore expedita ex!</p>
    </div>
  </div>
</div>
